body {
  font-family: "JetBrains Mono";
  background-color: #e2e8f0;
}

main {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.menu {
  width: 640px;
  height: 640px;
  /* this is tailwindccss' text-2xl */
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.buttons-section,
.current-grid-dimensions-section {
  width: 640px;
  height: 320px;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.current-grid-dimensions-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: 0;
  height: 44px;
  margin: 0;
  background: transparent;
}

.main-menu-button {
  outline-style: solid;
  margin-bottom: 0.5rem;
  outline-width: 1.5px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

.main-menu-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 300ms;
  /* this is tailwindcss' ease-in-out transition timing function */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  text-align: center;
}

.grid {
  width: 640px;
  height: 640px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background-color: #f1f5f9;
  display: flex;
  flex-wrap: wrap;
}
